
.chat{
    .chat-actions{
        padding: 12px;
    }
    .author-name{
        font-size: 16px;
        font-weight: 400;
    }
    .talk-item{
        padding: 6px 0;
        height: 100%;
    }
    .message{
        white-space: unset;
        text-overflow: unset;       
        span{
            padding: 6px 10px;
            border-radius: 4px;
            display: inline-block;
            font-size: 14px;
        }
    }
    .message-date{
        opacity: 0.8;
    }
    .empty{
        mat-icon{
            font-size: 220px;
            height: 220px;
            width: 220px;
            opacity: 0.4;
        }
        p{
            font-size: 18px;
            opacity: 0.8;
        }
    }
}

.author-status{
    font-size: 13px;
}
.chat-sidenav{
    border-right: 1px solid transparent;
    overflow: hidden;
    width: 200px;   
}
.chat-content{
    overflow: auto;
    padding: 12px;
    height: calc(100vh - (56px + 8px*2 + 238px));
}
.chat-sidenav-list {
    height: calc(100vh - (56px + 8px*2 + 134px));
}


.chat-status-icon_online{
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 22px;
    margin-right: 6px;
    color: #94c23d;
}

.chat-status-icon_wait{
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 22px;
    margin-right: 6px;
    color: #FFC42A;
}

.chat-status-icon_dontDisturb{
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 22px;
    margin-right: 6px;
    color: #FFC42A;
}

.chat-status-icon_disconnect{
    font-size: 14px;
    height: 14px;
    width: 14px;
    line-height: 22px;
    margin-right: 6px;
}


.notMine{
    background-color: #4fc1e1;
    text-align:end !important;
}

.mine{
    background-color: #a0d468;
    align-items: right;
    text-align:end !important;
}

.messageNotMine{
    text-align:end !important;
    text-align: justify;
}

.messageMine{
    text-align:start !important;
    text-align: justify;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
    padding: 0px !important;
    display: contents !important;
}

span{
    padding: 6px 10px;
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
}