<div fxLayout="row wrap">
    <div fxFlex="100" class="flex-p">
        <mat-card class="p-0 chat">
            <mat-sidenav-container>
                <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'"
                    class="chat-sidenav mat-elevation-z1">
                    <mat-toolbar color="primary" class="p-0" fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-list class="p-0">
                            <mat-list-item>
                                <img matListAvatar [src]="">
                            </mat-list-item>
                        </mat-list>
                        <button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </mat-toolbar>
                    <mat-menu #userMenu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="userMenuTrigger.closeMenu()">
                            <button mat-menu-item (click)="updateStatusSession('En linea')">
                                <mat-icon style="color:#94c23d;">check_circle</mat-icon>
                                <span>En linea</span>
                            </button>
                            <button mat-menu-item (click)="updateStatusSession('Ausente')">
                                <mat-icon style="color:#FFC42A;">schedule</mat-icon>
                                <span>Ausente</span>
                            </button>
                            <button mat-menu-item (click)="updateStatusSession('No molestar')">
                                <mat-icon style="color:#FFC42A;">not_interested</mat-icon>
                                <span>No molestar</span>
                            </button>
                            <a mat-menu-item routerLink="/" (click)="updateStatusSession('Desconectado')">
                                <mat-icon>power_settings_new</mat-icon>
                                <span>Desconectar</span>
                            </a>
                        </span>
                    </mat-menu>



                    <mat-list>
                        <mat-list-item (click)="getChat(chat)" *ngFor="let chat of chats">
                            <!-- <img mat-list-icon [src]=""> -->
                            <div style="font-size: 15px;" mat-line>{{chat.name}} {{chat.lastName}}</div>
                            <span [ngSwitch]="chat.status">
                                <mat-icon *ngSwitchCase="'En linea'" class="chat-status-icon_online">check_circle</mat-icon>
                                <mat-icon *ngSwitchCase="'Desconectado'" class="chat-status-icon_disconnect">highlight_off
                                </mat-icon>
                                <mat-icon *ngSwitchCase="'Ausente'" class="chat-status-icon_wait">schedule</mat-icon>
                                <mat-icon *ngSwitchCase="'No molestar'" class="chat-status-icon_dontDisturb">not_interested
                                </mat-icon> 
                            </span>
                            <div mat-line style="font-size: 10px; ">
                                <some-element [ngPlural]="chat.newMessages">
                                    <ng-template ngPluralCase="=0"></ng-template>
                                    <ng-template ngPluralCase="=1">{{chat.newMessages}} mensaje nuevo</ng-template>
                                    <ng-template ngPluralCase="other">{{chat.newMessages}} mensajes nuevos</ng-template>
                                </some-element>
                            </div>
                        </mat-list-item>
                    </mat-list>


                    <!-- <mat-nav-list class="chat-sidenav-list" perfectScrollbar>
                      <mat-list-item class="item-list" *ngFor="let chat of chats" (click)="getChat(chat)">
                          <img matListAvatar [src]="">
                          <p style="font-size: 10px;"> {{chat.nombres}} {{chat.apellidos}}</p>
                          <span *ngIf="chat.newMessages != 0" matLine > {{chat.newMessages}}</span>
                          <p matLine fxLayout="row" fxLayoutAlign="none center" class="muted-text">
                              <span [ngSwitch]="chat.authorStatus">
                                  <mat-icon *ngSwitchCase="'Online'" class="chat-status-icon">check_circle</mat-icon>
                                  <mat-icon *ngSwitchCase="'Offline'" class="chat-status-icon">highlight_off</mat-icon>
                                  <mat-icon *ngSwitchCase="'Away'" class="chat-status-icon">schedule</mat-icon>
                                  <mat-icon *ngSwitchCase="'Do not disturb'" class="chat-status-icon">not_interested</mat-icon>
                              </span>
                              <span class="author-status">{{chat.authorStatus}}</span>
                          </p>
                      </mat-list-item>
                  </mat-nav-list> -->
                </mat-sidenav>

                <div>
                    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <button mat-icon-button (click)="sidenav.toggle()">
                                <mat-icon>list</mat-icon>
                            </button>
                            <mat-list *ngIf="currentChat" class="p-0">
                                <mat-list-item>
                                    <!-- <img matListAvatar [src]=""> -->
                                </mat-list-item>
                            </mat-list>
                            <span *ngIf="currentChat" class="author-name">{{currentChat.nombres}}
                                {{currentChat.apellidos}}</span>
                        </div>
                        <!-- <button mat-icon-button [matMenuTriggerFor]="personMenu" #personMenuTrigger="matMenuTrigger">
                            <mat-icon>more_vert</mat-icon>
                        </button> -->
                    </mat-toolbar>
                    <!-- <mat-menu #personMenu="matMenu" xPosition="before" overlapTrigger="true">
                        <span (mouseleave)="personMenuTrigger.closeMenu()">
                            <button mat-menu-item>
                                <mat-icon>account_circle</mat-icon>
                                <span>Contact info</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>volume_mute</mat-icon>
                                <span>Mute</span>
                            </button>
                            <button mat-menu-item>
                                <mat-icon>delete_forever</mat-icon>
                                <span>Clear chat</span>
                            </button>
                        </span>
                    </mat-menu> -->
                    <div class="chat-content" perfectScrollbar>
                        <mat-list *ngIf="hideElement" class="p-0">
                            <mat-list-item *ngFor="let talk of talks" class="talk-item">
                                <!-- <img matListAvatar [src]=""> -->
                                <p matLine
                                    [ngClass]="(talk.senderName == this.currentChat.userName) ? 'messageNotMine' : 'messageMine'">
                                    <span
                                        [ngClass]="(talk.senderName == this.currentChat.userName) ? 'mine' : 'notMine'">{{talk.content}}</span>
                                </p>
                                <p matLine
                                    [ngClass]="(talk.senderName == this.currentChat.userName) ? 'messageNotMine' : 'messageMine'">
                                    <small>{{talk.timestamp | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>
                                </p>
                            </mat-list-item>
                        </mat-list>
                        <div *ngIf="!hideElement" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                            <mat-icon>chat</mat-icon>
                            <p>Seleccione un usuario para hablar</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <mat-card class="chat-actions">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <mat-form-field style="width: 100%;">
                                <input [disabled]="!hideElement" matInput placeholder="Escribe un mensaje..."
                                    [(ngModel)]="newMessage">
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="scenter center">
                                <!-- <button mat-icon-button type="button">
                                  <mat-icon>attach_file</mat-icon>
                              </button> -->
                                <button [disabled]="!hideElement" mat-mini-fab color="primary" type="button"
                                    (click)="sendMs(newMessage)">
                                    <mat-icon>send</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </div>

            </mat-sidenav-container>
        </mat-card>
    </div>
</div>